@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --base-clr: #141414;
  --line-clr: #414141;
  --hover-clr: #124d4d;
  --text-clr: #fafaff;
  --accent-clr: #30cfd0;
  --secondary-text-clr: #30cfd0;
}

*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: OfficeCodePro;
  src: url(/static/fonts/OfficeCodePro-Light.otf);
}

html{
  font-family: OfficeCodePro, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}

body{
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-clr);
  color: var(--text-clr);
  display: grid;
  grid-template-columns: auto 1fr;
  overflow-y: hidden;
  overflow-x: hidden;
}

.mainlayout { 
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 7fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.titlebarlayout {
  height: 10vh;
  grid-area: 1 / 1 / 2 / 3; 
  margin-bottom: 20px;
}

.titlebar {
  display: flex;
  gap: 16px;
}

.logobox {
  height: 60%;
  margin: auto;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 100%;
}

.titlebox {
  flex-grow: 1;
  height: 100%;
  display: table;
}

.title {
  display: table-cell;
  vertical-align: middle;
  font-size: 64px;
}

.inputlayout {
  grid-area: 2 / 1 / 3 / 2;
  height: 80vh;
  width: 100%;
}

.outputlayout {
  grid-area: 2 / 2 / 3 / 3; 
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.scrollbox {
  overflow: scroll;
  max-width: 100%;
  height: 62vh;
  overflow-x: hidden;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chatcontainer::-webkit-scrollbar {
  display: none;
}  

#sidebar{
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--base-clr);
  border-right: 1px solid var(--line-clr);

  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}

#sidebar.close{
  padding: 5px;
  width: 60px;
}

#sidebar ul{
  list-style: none;
}

#sidebar > ul > li:first-child{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo{
    font-weight: 600;
  }
}

#sidebar ul li.active a{
  color: var(--accent-clr);

  svg{
    fill: var(--accent-clr);
  }
}

#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;
}

.dropdown-btn{
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

#sidebar svg{
  flex-shrink: 0;
  fill: var(--text-clr);
}

#sidebar a span, #sidebar .dropdown-btn span{
  flex-grow: 1;
}

#sidebar a:hover, #sidebar .dropdown-btn:hover{
  background-color: var(--hover-clr);
}

#sidebar .sub-menu{
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div{
    overflow: hidden;
  }
}

#sidebar .sub-menu.show{
  grid-template-rows: 1fr;
}

.dropdown-btn svg{
  transition: 200ms ease;
}

.rotate svg:last-child{
  rotate: 180deg;
}

#sidebar .sub-menu a{
  padding-left: 2em;
}

#toggle-btn{
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: .5em;
  background: none;
  cursor: pointer;

  svg{
    transition: rotate 150ms ease;
  }
}

#toggle-btn:hover{
  background-color: var(--hover-clr);
}

main{
  padding: min(30px, 7%);
  overflow-y: hidden;
  overflow-x: hidden;
}

main p{
  color: var(--secondary-text-clr);
  margin-top: 5px;
  margin-bottom: 15px;
}

.container{
  border: 2px solid var(--line-clr);
  border-radius: 1em;
  height: 100%;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  h2, p { margin: 1em }
}

.containerin{
  border: 2px solid var(--line-clr);
  border-radius: .2em;
  height: 100%;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  h2, p { margin-top: 1em }
}

.containeraudio{
  border: 2px solid var(--line-clr);
  border-radius: 1em;
  height: 7.5vh;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 10px;
  display: flex;
  gap: 10px;
}

.containerout{
  border: 2px solid var(--line-clr);
  border-radius: 1em;
  flex-grow: 1;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  h2, p { margin: 1em }
}

.containerfiles{
  border: 2px solid var(--line-clr);
  border-radius: 1em;
  height: 100%;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2, p { margin: 1em }
}

.scrollbarbox {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 100%;
  cursor: pointer;
}

.lilicon {
  height: 75%;
  cursor: pointer;
}

.uploadicon {
  height: 8vh;
  margin-bottom: 10px;
}

label {
  background-color: #414141;
  color: #fafaff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

label:hover {
  background-color: #124d4d;
  transition: 0.3s;
}

#progress{
  -webkit-appearance: none;
  width: 90%;
  height: 6px;
  background: #30cfd0;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
  cursor: pointer;
}

#progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: #30cfd0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff; 
  box-shadow: 0 5px 5px rgba(24, 160, 185, 0.22);
  cursor: pointer;
}

@media(max-width: 800px){
  body{
    grid-template-columns: 1fr;
  }
  main{
    padding: 2em 1em 60px 1em;
  }
  .container{
    border: none;
    padding: 0;
  }
  #sidebar{
    height: 60px;
    width: 100%;
    border-right: none;
    border-top: 1px solid var(--line-clr);
    padding: 0;
    position: fixed;
    top: unset;
    bottom: 0;

    > ul{
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      align-items: center;
      overflow-x: scroll;
    }
    ul li{
      height: 100%;
    }
    ul a, ul .dropdown-btn{
      width: 60px;
      height: 60px;
      padding: 0;
      border-radius: 0;
      justify-content: center;
    }

    ul li span, ul li:first-child, .dropdown-btn svg:last-child{
      display: none;
    }

    ul li .sub-menu.show{
      position: fixed;
      bottom: 60px;
      left: 0;
      box-sizing: border-box;
      height: 60px;
      width: 100%;
      background-color: var(--hover-clr);
      border-top: 1px solid var(--line-clr);
      display: flex;
      justify-content: center;

      > div{
        overflow-x: auto;
      }
      li{
        display: inline-flex;
      }
      a{
        box-sizing: border-box;
        padding: 1em;
        width: auto;
        justify-content: center;
      }
    }
  }
}