<!DOCTYPE html>

<!-- Sends a POST request on file submission that goes to route 'file' -->

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ReadDF</title>
  <link rel="icon" type="image/x-icon" href="/static/img/file-solid-blue.svg">
  <link rel="stylesheet" href="/static/css/general.css">
  <script type="text/javascript" src="/static/js/app.js" defer></script>
</head>
<body>
  <nav id="sidebar">
    <ul>
      <li>
        <span class="logo">ReadDF</span>
        <button onclick=toggleSidebar() id="toggle-btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m313-480 155 156q11 11 11.5 27.5T468-268q-11 11-28 11t-28-11L228-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T468-692q11 11 11 28t-11 28L313-480Zm264 0 155 156q11 11 11.5 27.5T732-268q-11 11-28 11t-28-11L492-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T732-692q11 11 11 28t-11 28L577-480Z"/></svg>
        </button>
      </li>
      <li class="active">
        <a href="index.html">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M240-200h120v-200q0-17 11.5-28.5T400-440h160q17 0 28.5 11.5T600-400v200h120v-360L480-740 240-560v360Zm-80 0v-360q0-19 8.5-36t23.5-28l240-180q21-16 48-16t48 16l240 180q15 11 23.5 28t8.5 36v360q0 33-23.5 56.5T720-120H560q-17 0-28.5-11.5T520-160v-200h-80v200q0 17-11.5 28.5T400-120H240q-33 0-56.5-23.5T160-200Zm320-270Z"/></svg>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M520-640v-160q0-17 11.5-28.5T560-840h240q17 0 28.5 11.5T840-800v160q0 17-11.5 28.5T800-600H560q-17 0-28.5-11.5T520-640ZM120-480v-320q0-17 11.5-28.5T160-840h240q17 0 28.5 11.5T440-800v320q0 17-11.5 28.5T400-440H160q-17 0-28.5-11.5T120-480Zm400 320v-320q0-17 11.5-28.5T560-520h240q17 0 28.5 11.5T840-480v320q0 17-11.5 28.5T800-120H560q-17 0-28.5-11.5T520-160Zm-400 0v-160q0-17 11.5-28.5T160-360h240q17 0 28.5 11.5T440-320v160q0 17-11.5 28.5T400-120H160q-17 0-28.5-11.5T120-160Zm80-360h160v-240H200v240Zm400 320h160v-240H600v240Zm0-480h160v-80H600v80ZM200-200h160v-80H200v80Zm160-320Zm240-160Zm0 240ZM360-280Z"/></svg>
          <span>Summarize</span>
        </a>
      </li>
      <li>
        <button onclick=toggleSubMenu(this) class="dropdown-btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h207q16 0 30.5 6t25.5 17l57 57h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Zm400-160v40q0 17 11.5 28.5T600-320q17 0 28.5-11.5T640-360v-40h40q17 0 28.5-11.5T720-440q0-17-11.5-28.5T680-480h-40v-40q0-17-11.5-28.5T600-560q-17 0-28.5 11.5T560-520v40h-40q-17 0-28.5 11.5T480-440q0 17 11.5 28.5T520-400h40Z"/></svg>
          <span>Upload</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z"/></svg>
        </button>
        <ul class="sub-menu">
          <div>
            <li><a href="#">PDF</a></li>
            <li><a href="#">JPEG</a></li>
            <li><a href="#">PNG</a></li>
          </div>
        </ul>
      </li>
    </ul>
  </nav>

  <main>
    <div class="mainlayout">

      <div class="titlebarlayout">
        <div class="container titlebar">
          <div class="logobox">
            <img src="/static/img/file-solid-blue.svg" alt="logo" class="logo"/>
          </div>
          <div class="titlebox">
              <h1 class="title">ReadDF</h1>
          </div>
        </div>
      </div>
      
      <div class="inputlayout">
        <div class="containerfiles">
          <img src="/static/img/upload.svg" alt="Upload" id="upload" class="uploadicon"/>
          <div class="filebox">
            <form action="file" method="POST">
              <input type="file" onchange="form.submit()" id="actual-btn" accept=".pdf, .jpeg, .png" hidden />
              <label for="actual-btn">Choose File</label>
            </form>
          </div>
        </div>
      </div>
      
      <div class="outputlayout">
        <div class="containerout">
          <h2>Transcription</h2>
          <div class="scrollbox" id="scrollbox">
            <p id="output">Upload a file to Transcribe! Transcription will appear here and Audio controls are below</p>
          </div>
        </div>
        <div class="containeraudio">
          <div class="iconbox">
            <img src="/static/img/skip_previous.svg" alt="back" id="goback" class="icon"/>
          </div>
          <div class="iconbox">
            <img src="/static/img/play_arrow.svg" alt="Play/Pause" id="play" class="icon"/>
          </div>
          <div class="iconbox">
            <img src="/static/img/1x_speed.svg" alt="Speed" id="speed" class="lilicon"/>
          </div>
          <div class="scrollbarbox">
            <input type="range" value="0" id="progress">
          </div>
          <div class="iconbox">
            <img src="/static/img/download.svg" alt="Download" id="download" class="lilicon" href="test.mp3" download/>
          </div>      
        </div>
      </div>
    </div>
  </main>
</body>
</html>